# Docker Compose 变量模板。
# deploy-template/docker-compose.yml 是部署模板；
# 在线或离线安装后会被复制为安装根目录下的 docker-compose.yml，并读取同目录 .env。
#
# 使用方式：
# - 不建议直接在 deploy-template/ 目录启动服务。
# - 安装脚本会把本文件复制为安装根目录下的 .env。

# 镜像名称
FUNASR_SERVER_IMAGE=local/funasr-runtime-sdk-cpu:0.4.7-is-final
HTTP_API_IMAGE=local/http-api:latest

# 端口
FUNASR_HOST_PORT=10095
FUNASR_SERVER_PORT=10095
HTTP_API_PORT=18000

# FunASR Server 启动参数
FUNASR_DOWNLOAD_MODEL_DIR=/workspace/models
FUNASR_ASR_MODEL=damo/speech_paraformer-large-vad-punc_asr_nat-zh-cn-16k-common-vocab8404-onnx
FUNASR_VAD_MODEL=damo/speech_fsmn_vad_zh-cn-16k-common-onnx
FUNASR_PUNC_MODEL=damo/punc_ct-transformer_cn-en-common-vocab471067-large-onnx
FUNASR_ITN_MODEL=thuduj12/fst_itn_zh
FUNASR_LM_MODEL=damo/speech_ngram_lm_zh-cn-ai-wesp-fst
FUNASR_DECODER_THREAD_NUM=
FUNASR_MODEL_THREAD_NUM=1
FUNASR_IO_THREAD_NUM=
FUNASR_CERTFILE=
FUNASR_KEYFILE=
FUNASR_HOTWORD=/workspace/config/hotwords.txt

# FunASR Server 挂载目录
FUNASR_CONFIG_DIR=./runtime/config
FUNASR_MODELS_DIR=./runtime/models
FUNASR_LOGS_DIR=./runtime/logs

# HTTP API 挂载目录
HTTP_API_ENV_FILE=./runtime/config/http-api.env
HTTP_API_LOGS_DIR=./runtime/logs
HTTP_API_TMP_DIR=./runtime/tmp
